.grid-numeros {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grid-numeros h3 {
    font-size: 2rem;
    font-family: 'Playfair Display SC';
    margin-bottom: 0.5rem;
}

.grid-numeros span {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1.5rem;
    color: #e54;
}

@media (max-width: 768px) {
    .grid-numeros {
        grid-column: 1;
    }
    .grid-numeros h3 {
        font-size: 1.5rem;
    }
}
